*.[oa]
*~
*.pyc
*.swk
*.swl
*.swn
*.swm
*.swo
*.swp
*.bin
*.gem
*.config
.DS_Store
/node_modules/*
.idea
npm-debug.log
/config/local*.*
/config/test*
_npm-shrinkwrap.json
_css_deps.js
_meta.json
npm-debug.log
node_modules
hash.json
__status.json
_babelcache.json
update.tar.gz
src/**/*.js
!src/client/nolib/*
src/**/*.js.map
static/**/*
buildMeta.json

